# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
.vitepress/cache/
.vitepress/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# Env
.env.local
.env.*.local